/* цвет заголовков и ссылок #212121 */

/* цвет активных ссылок и кнопки #2196F3 */

/* цвет текстовых блоков, должности и номера телефона в хедере #757575 */

/* фон #E5E5E5 */

/* вторичный фон #2F303A*/

/* фон хедера и цвет текста активных кнопок  #FFFFFF*/

/* третий цвет фона и цвет неактивных кнопок портфолио #F5F4FA */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #2f303a;
  --tertiary-background-color: #f5f4fa;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: #212121;
}

.btn {
  width: 200px;
  height: 50px;
  display: block;
  color: #ffffff;
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: -0.03em;
}

.container {
  display: flex;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}

/* header styles */

.header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: #ffffff;
}

.header-logo {
  display: inline-block;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo-alt {
  color: #2196f3;
}

.header-nav {
  display: flex;
  /* align-items: baseline; */
}

.header-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav .link:hover, .header-nav .link:focus {
  color: var(--accent-color);
}

.header-nav .link.current {
  color: var(--accent-color);
}

.header-links {
  display: flex;
  /* align-items: baseline; */
}

.header-links .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-links .link:hover, .header-links .link:focus {
  color: var(--accent-color);
}

/* Hat or Hero styles */

.hero {
  color: #ffffff;
  background-color: var(--secondary-background-color);
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* .hero-button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
} */

/* features */

.features-item-title {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-item {
  color: var(--secondary-text-color);
}

/* what we do section */

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}

.section-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

/* our team */

.our-team {
  background-color: var(--tertiary-background-color);
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

/* footer */

.footer {
  background-color: var(--secondary-background-color);
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-background-color);
}

.footer-logo-alt {
  color: #2196f3;
}

.physical-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-links .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.footer-links .link:hover, .footer-links .link:focus {
  color: var(--accent-color);
}

/* portfolio section */

.filters-button {
  background-color: var(--tertiary-background-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.filters-button:hover, .filters-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.works-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}